<%- include('partials/header') %>

<script src="/socket.io/socket.io.js"></script>
<div class="container" style="flex-direction: row; gap: 32px;">
  <div class="container-inner" style="min-width: 360px;">
    <h2>Jogadores</h2>
  </div>
  <div class="container-inner">
    <h2>Rodada Atual - Letra: <span id="letra-atual" class="text-primary">?</span></h2>
    
    <form id="form-stop">
      <label>Nome  
        <input type="text" class="form-control categoria" id="cat-nome" disabled>
      </label>
      <label>Cor  
        <input type="text" class="form-control categoria" id="cat-cor" disabled>
      </label>
      <label>Animal  
        <input type="text" class="form-control categoria" id="cat-animal" disabled>
      </label>
      
      <button type="button" id="btn-stop" class="button" disabled>STOP!</button>
    </form>
  </div>

  <div class="container-inner" style="min-width: 360px;">
    <h2>Chat</h2>
  </div>

  <script>
    const socket = io();
    const username = "<%= username %>";
    const sala = "<%= sala %>";

    // Entra na sala
    socket.emit('entrar_sala', { sala, username });

    // Apenas o primeiro jogador pode iniciar, mas para simplificar, colocaremos um botão depois.
    // Recebendo a letra sorteada
    socket.on('letra_sorteada', (letra) => {
      document.getElementById('letra-atual').innerText = letra;
      // DESAFIO 4: Habilite todos os inputs com a classe 'categoria' e o botão 'btn-stop'.
      // [PREENCHA AQUI: Lógica em JavaScript puro para remover o atributo 'disabled']
    });

    // Ao clicar em STOP
    document.getElementById('btn-stop').addEventListener('click', () => {
      socket.emit('gritar_stop', { sala, username });
    });

    // Quando alguém aperta STOP
    socket.on('fim_de_rodada', (quemGritou) => {
      alert(`O jogador ${quemGritou} gritou STOP! Lápis na mesa!`);
      // DESAFIO 5: Desabilite os campos novamente e colete os valores digitados para enviar ao servidor.
      // [PREENCHA AQUI]
    });
  </script>
</div>

<%- include('partials/footer') %>