<%- include('partials/header') %>

<div class="container" style="width: 50%;">
    <form method="get" action="/jogo" class="container-inner">
        <h1>Acessar</h1>
        <label>
            ID da sala
            <input name="sala" type="text">
        </label>
        <button class="button" type="submit">entrar</button>
    </form>
</div>

<%- include('partials/footer') %>