<%- include('partials/header') %>

<div class="container" style="width: 50%;">
    <form id="formulario-login" method="post" action="/login" class="container-inner">
        <h1>Acessar</h1>
        <label>
            usuário
            <input id="username" name="username" type="text">
        </label>
        <label>
            senha
            <input id="password" name="password" type="password">
        </label>
        <div style="padding-top: 16px; gap: 32px; display: flex; flex-direction: row; justify-content: center; align-items: center">
            <button class="button" type="submit">login</button>
            <button id="botao-trocar" class="a" type="button" onclick="trocarFormulario()">não tenho uma conta</button>
        </div>
    </form>
</div>

<script>
const formLogin = document.getElementById("formulario-login");
const botaoTrocar = document.getElementById("botao-trocar");

estado = "login";
function trocarFormulario() {
    if(estado === "login") {
        estado = "cadastro";
        formLogin.action = "/cadastro";
        botaoTrocar.textContent = "já tenho uma conta"
    } else {
        estado = "login";
        formLogin.action = "/login";
        botaoTrocar.textContent = "não tenho uma conta"
    }
}
</script>

<%- include('partials/footer') %>