@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap&family=Ranchers&display=swap&family=Bagel+Fat+One&display=swap&family=Oi&display=swap&display=swap&family=Erica+One&display=swap');

:root {
    --accent: #fac425;
    --accent-alt: #ee9a1d;

    --erro-background: #140b0d;
    --erro: #2c1314;

    --background: #1d191f;
    --background-light: #262129;
    --background-dark: #151216;
    --background-darker: #100e11;
    --text: #e8e4f7;

    --pessoa-mensagem: #8f72d3;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;

  text-decoration: none;
  font-family: 'Outfit';
}

html, body {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  background-color: var(--background);
  min-height: 100vh;

  font-family: 'Outfit', sans-serif;

  padding: 0;
  margin: 0;

  font-size: large;

  color: var(--text);
}

.header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  background-color: var(--background-dark);
  /* padding: 16px; */
  height: 64px;
  display: flex;
  gap: 24px;

  padding-left: 20%;
  padding-right: 20%;
}

.footer {
  display: flex;
  flex-direction: row;

  background-color: var(--background-dark);
  align-items: center;
  /* padding: 16px; */
  height: 64px;
  display: flex;
  gap: 24px;

  padding-left: 20%;
  padding-right: 20%;
}

.a {
  background: none;
  border: none;
  outline: none;

  font-family: 'Outfit';
  font-size: large;

  text-decoration: underline;
  color: var(--text);
  text-decoration-color: var(--accent);

  cursor: pointer;

  transition: 0.2s;
}

.a:hover {
  color:var(--accent);
}

.button, .button-alt {
  text-decoration: none;
  padding: 8px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: var(--background);
  border: 4px solid var(--background-dark);
  text-align: center;

  border-radius: 16px;

  cursor: pointer;

  font-size: large;
  font-family: 'Outfit';
  color: var(--text);

  transition: 0.2s;
}

.button-alt {
  background-color: var(--background-dark);
  border-color: var(--background);
}

.button:hover, .button-alt:hover {
  border-color: var(--accent);
  color: var(--text);
}

.container {
  display: flex;
  flex-direction: column;


  align-self: center;
  justify-items: center;
  align-content: center;

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 32px;
  margin-bottom: 32px;

  background-color: var(--background-dark);
  border-radius: 16px;

  padding: 32px;
}

.container-inner {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;

  background-color: var(--background-dark);
  border-radius: 16px;

  border: 4px solid var(--background);

  padding: 32px;
}

.container-erro {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;

  background-color: var(--erro-background);
  border-radius: 16px;

  border: 4px solid var(--erro);

  padding: 32px;
}

h1, h2, p {
  text-align: center;
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 32px;
}

input {
  flex-grow: 1;
  outline: none;
  padding: 8px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: var(--background);
  border: 4px solid var(--background-dark);

  border-radius: 16px;

  font-size: large;
  font-family: 'Outfit';
  color: var(--text);

  transition: 0.3s;
}

input:focus {
  border: 4px solid var(--accent);
}

.input-alt {
  background-color: var(--background-dark);
  border: 4px solid var(--background);

  border-radius: 16px;

  font-size: large;
  font-family: 'Outfit';
  color: var(--text);
}

.input-alt:focus {
  border: 4px solid var(--accent);
}

.lista-salas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;

  width: calc(640px);

  margin-bottom: 32px;
  margin-top: 32px;
  padding: 0;
  gap: 16px;
}

.card-sala {
  position: relative;
  
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 0;

  background-color: var(--background);

  overflow: hidden;

  width: 640px;
  height: 64px;
  border-radius: 8px;

  background-size: cover;
  background-position: center;

  transition: 0.2s;
}

.jogadores-sala {
  display: flex;
  padding: 8px;
  text-align: center;

  padding-top: 20px;
  justify-content: center;
  align-content: center;

  width: 96px;
  height: 64px;
  gap: 4px;

  border-bottom-left-radius: 8px;

  background-color: var(--background-light);
  color: var(--text);

  font-size: large;
  font-weight: bold;
}

.id-sala {
  display: flex;
  padding: 8px;
  text-align: center;

  padding-top: 20px;
  justify-content: center;
  align-content: center;

  width: 96px;
  height: 64px;
  gap: 4px;

  border-bottom-right-radius: 8px;

  background-color: var(--background-light);
  color: var(--text);

  font-size: medium;
  font-weight: bold;
}

.lista-jogadores {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.lista-jogador {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  gap: 4px;
}

.chat {
  background-color: var(--background-darker);
  height: 100%;
  overflow-y: auto;
  padding-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0;
}

.mensagem-chat {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.quem-mandou {
  color: var(--pessoa-mensagem);
}

.quem-mandou.servidor {
  color: var(--accent);
}

.conteudo.servidor {
  color: var(--accent);
}

.input-chat {
  padding: 8px;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0;
  
  background-color: var(--background-dark);

  border: 4px solid var(--background);
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.input-chat:focus {
  border: 4px solid var(--background);
  border-top: none;
}

.chat::-webkit-scrollbar {
  width: 10px;               
  height: 10px;
}

.chat::-webkit-scrollbar-track {
  background: var(--background-darker);
  border-radius: 8px;
}

.chat::-webkit-scrollbar-thumb {
  background-color: var(--background-light); 
  border: 2px solid var(--background-darker); 
  border-radius: 8px;
  transition: 0.2s;
}

.chat::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.stop-logo {
  display: flex;
  /* font-family: 'Ranchers'; */
  font-family: 'Bagel Fat One';
  /* font-family: 'Oi'; */
  /* font-family: 'Erica One'; */
  font-size: x-large;
}