@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --accent: #fac425;
    --accent-alt: #ee9a1d;
    --background: #1d191f;
    --background-alt: #151216;
    --text: #e8e4f7;
}

* {
  margin:0;
  padding:0;
  box-sizing:border-box;

  text-decoration: none;
  font-family: 'Outfit';
}

html, body {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  background-color: var(--background);
  min-height: 100vh;

  font-family: 'Outfit', sans-serif;

  padding: 0;
  margin: 0;

  font-size: large;

  color: var(--text);
}

.header {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  background-color: var(--background-alt);
  padding: 16px;
  display: flex;
  gap: 24px;

  padding-left: 20%;
  padding-right: 20%;
}

.footer {
  background-color: var(--background-alt);
  padding: 16px;
  display: flex;
  gap: 24px;

  padding-left: 20%;
  padding-right: 20%;
}

.a {
  background: none;
  border: none;
  outline: none;

  font-family: 'Outfit';
  font-size: large;

  text-decoration: underline;
  color: var(--text);
  text-decoration-color: var(--accent);

  cursor: pointer;

  transition: 0.2s;
}

.a:hover {
  color:var(--accent);
}

.button, .button-alt {
  text-decoration: none;
  padding: 8px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: var(--background);
  border: 4px solid var(--background-alt);

  border-radius: 16px;

  cursor: pointer;

  font-size: large;
  font-family: 'Outfit';
  color: var(--text);

  transition: 0.2s;
}

.button-alt {
  background-color: var(--background-alt);
  border-color: var(--background);
}

.button:hover, .button-alt:hover {
  border-color: var(--accent);
  color: var(--text);
}

.container {
  display: flex;
  flex-direction: column;


  align-self: center;
  justify-items: center;
  align-content: center;

  margin-left: 10%;
  margin-right: 10%;
  margin-top: 32px;
  margin-bottom: 32px;

  background-color: var(--background-alt);
  border-radius: 16px;

  padding: 32px;
}

.container-inner {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;

  background-color: var(--background-alt);
  border-radius: 16px;

  border: 4px solid var(--background);

  padding: 16px;
}

h1, h2, p {
  text-align: center;
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;

  gap: 12px;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 32px;
}

input {
  flex-grow: 1;
  outline: none;
  padding: 8px;
  padding-left: 64px;
  padding-right: 64px;
  background-color: var(--background);
  border: 2px solid var(--background-alt);

  border-radius: 16px;

  font-size: large;
  font-family: 'Outfit';
  color: var(--text);
}

.lista-salas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;

  margin: 16px;
  padding: 32px;
  border-radius: 8px;

  background-color: var(--background-alt);
  border: 4px solid var(--background);

  min-width: calc(640px + 64px);

  gap: 32px;
}

.card-sala {
  position: relative;
  
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 0;

  background-color: var(--background);

  overflow: hidden;

  width: 640px;
  height: 64px;
  border-radius: 8px;

  background-size: cover;
  background-position: center;

  transition: 0.2s;
}

.jogadores-sala {
  display: flex;
  padding: 8px;
  text-align: center;

  padding-top: 20px;
  justify-content: center;
  align-content: center;

  width: 96px;
  height: 64px;
  gap: 4px;

  border-bottom-left-radius: 8px;

  background-color: var(--accent);
  color: black;

  font-size: medium;
  font-weight: bold;
}

.id-sala {
  display: flex;
  padding: 8px;
  text-align: center;

  padding-top: 20px;
  justify-content: center;
  align-content: center;

  width: 96px;
  height: 64px;
  gap: 4px;

  border-bottom-right-radius: 8px;

  background-color: var(--accent);
  color: black;

  font-size: medium;
  font-weight: bold;
}

.lista-jogadores {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}